{% extends "base.html" %}
{% from "_renderfield.html" import render_field %}
{% block content %}
    <div class="row">
    <div class="col">
    <form method=post class="form-group">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <p><button type=submit class="btn btn-lg btn-submit">Login</button>
    </form>
    <a href="/register">Register</a>
    </div>
    </div>
{% endblock %}